* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 1000px;
    width: 800px; */
    text-align: center;
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


}
.size {
  border: 2px solid black;   
  padding: 20px;            
  width: 400px;   
  border-width: 2px;
  margin: auto;              
  border-radius: 7px;      
}


.contact-name {
    margin-top: 40px;
    color: rgb(27, 11, 11);
    font-family: sans-serif;
    line-height: 40px;
    transition: all 4s ease-in-out;
}

.contact-name h1 {
  font-size: 32px;
  text-transform: uppercase;
}

.contact-name h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form{
    margin-top: 30px;
   transition: all 4s ease-in-out;

}

.form-control{
    width: 400px;
    height: 50px;
    line-height: 1px;
    padding: 5px 0;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 12px;
    font-size: 23px;
    color: rgb(36, 9, 9);
}

form .submit{
    height: 45px;
    background: orangered;
    border-color: transparent;
    text-transform: uppercase;
    color: wheat;
    font-size: 18px;
    margin-top: 15px;
    width: 300px;
    letter-spacing: 2px;
    height: 50px;
}

form .submit:hover{
    background-color: rgb(187, 87, 51);
    cursor: pointer;
}